<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aliquam provident voluptatibus expedita at! Nisi voluptatum esse magnam ut necessitatibus!</p>
  </div>
</section>