<div class="jumbotron mt-4">
    <h1 class="display-4">PERSONAL DE CONDUCCION LINEA 34</h1>
    <p class="lead">Para la administracion de datos internos del personal de conduccion!
    </p>
    <hr class="my-4">
    <p>Sistema creado y desarrollado por Gaston Maximiliano Iaria, por problemas y o mantenimiento comuniquese mediante el enlace, gracias.</p>
    <a href="https://github.com/TongaCode" class="btn btn-primary">Gaston Iaria</a>
</div>